<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>House Temp</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetrend/dist/vue-trend.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet"> 
    <link href="https://rawgit.com/russianryebread/house-temperature/master/public/styles/style.css" rel="stylesheet">
</head>
<body>
    <div id="app" :style="bgcolor">
        <h1 class="temp" v-if="temp.f">
            {{ temp.f }}° F
        </h1>
        <h2 class="error" v-else>
            <span v-if="error">{{ error }}</span>
            <span v-else>:(</span>
        </h2>
        <div class="label max">{{ highLow.max }}</div>
        <trend
            :data="historicTemps"
            :gradient="['#81bce9', '#f1b57d']"
            auto-draw
            smooth>
        </trend>
        <div class="label min">{{ highLow.min }}</div>
    </div>

    <script src="https://rawgit.com/russianryebread/house-temperature/master/public/js/app.js"></script>
</body>
</html>