html, body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand",-apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    color: #5a636a;
}

#app {
    height: 100vh;
}

h1.temp {
    font-weight: 100;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: white;
    margin: 0;
    padding-top: 30vh;
    text-align: center;
    font-size: 15rem;
}

.hot {
    background-color: rgb(218, 154, 154);
}

.cold {
    background-color: rgb(108, 147, 185);
}

.label {
    color: rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    font-weight: 200;
    position: relative;
    text-align: right;
    margin: 0 auto;
    max-width: 1150px;
}

.label.min {
    top: -50px;
}

.label.max {
    top: 50px;
}